.button {
  display: inline-block;
  margin: 10px 0 0 0;
  background-color: #f3f3f3;
  text-decoration: none;
  color: inherit;
  transition-duration: .2s;
  border-radius: 4px;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
  cursor: pointer;
}
.button.tinted {
  background-color: #D5DDF6;
  border-color: #91A6E8;
}
.button:hover {
  filter: brightness(.80) saturate(150%);
}
.button:active {
  filter: brightness(.50) saturate(150%);
}
.button>.button-inner {
  display: block;
  margin: 5px 10px;
}

.social-icon {
  font-size: 28px;
  transition-duration: .2s;
  color: inherit;
}
.social-icon:hover {
  opacity: .50;
}
.social-icon:active {
  opacity: .20;
}