extends layout.pug

include ./components/button.pug

block head
  link(rel="stylesheet", type="text/css", href="css/style.css")
  link(rel="stylesheet", type="text/css", href="css/partials.css")
  link(rel="stylesheet", type="text/css", href="css/components.css")

block body
  include ./partials/topbar.pug
  .container
    include ./partials/main-section.pug
    include ./partials/menu-section.pug

block foot
  span.copyright Copyright ⓒ Hogyun Jeon, 2020-2022
  
  
  
  
  
  
  
  
  
  
  
